# Enable Bzlmod by default.
common --enable_bzlmod

# Use C++17.
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17

# Make Python protos faster by backing them with C++ protos.
# TODO: Reenable once protobuf releases
# https://github.com/protocolbuffers/protobuf/pull/22633
# i.e. in version > 32.0. Or possibly switch to upb.
# build --define=use_fast_cpp_protos=true

# Options from ./configure
# This is currently disabled because TensorFlow does not support bzlmod,
# hence Riegeli/TensorFlow bindings are broken anyway.
# import %workspace%/configure.bazelrc
